[Unit]
Description=This service opens secure tunnel.

[Service]
User=root
WorkingDirectory=/root/Secure-Tunnel/
ExecStart=/usr/bin/python3 autossh.py
ExecStop=/bin/kill -INT $MAINPID
ExecReload=/bin/kill -TERM $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
