[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = {extras = ["srv"], version = "*"}
requests = "==2.22.0"
Flask = "==2.0.2"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
