[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
requests = "*"
pandas = "*"
python-dotenv = "*"
streamlit-authenticator = "*"
pillow = "*"
streamlit-echarts = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.pymongo]
extras = [ "srv",]
version = "*"
